.col-12 .login {
  margin-top: 75px;
  width: 25rem;
}
.tittle {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0em;
  color: #2daf94;
}
