<form class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" />
    </div>
  </div>
  <div class="mb-3">
    <label for="username">Username</label>
    <div class="input-group">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="mb-3">
    <label for="email">Email <span class="text-muted">(Optional)</span></label>
    <input type="email" class="form-control" placeholder="you@example.com" />
  </div>
  <div class="mb-3">
    <label for="address">Address</label>
    <input type="text" class="form-control" placeholder="1234 Main St" />
  </div>

  <h4 class="mb-3">Payment</h4>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Bank card name</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input type="text" class="form-control" />
      <small class="text-muted">Full name as displayed on card</small>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <button class="btn btn-success btn-lg btn-block mb-5" type="submit">
    Continue to checkout
  </button>
</form>
