<div class="table-responsive-xl">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <img
            src="https://images.tokopedia.net/img/cache/900/product-1/2020/6/8/batch-upload/batch-upload_52074351-8c3d-4bba-a084-47d30f37d54f.jpg"
            alt=""
            class="image-cart img-fluid"
          />
          <span class="text-danger">Rp 120000;</span>
          <br />
          <span class="ml-2">Benih Cabe Rawit Pelita F1 2250 Biji</span>
        </th>
        <td>
          <input type="number" class="form-control quantity" />
        </td>
        <td><span>Rp 120000;</span></td>
        <td>
          <a href=""><img src="assets/images/deleted.svg" alt="" /></a>
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2">Total</td>
        <td colspan="2"><span>Rp. 12.000;</span></td>
      </tr>
    </tbody>
  </table>
</div>
