<div class="table-responsive-xl">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of cart">
        <th scope="row">
          <img [src]="data.items[1]" alt="" class="image-cart img-fluid" />
          <span class="text-danger">Rp {{ data.items[0] }};</span>
          <br />
          <span class="ml-2">{{ data.items[2] }}</span>
        </th>
        <td>
          <!-- <input type="number" class="form-control quantity" /> -->
          {{ data.quantity }}
        </td>
        <td>
          <span>Rp {{ data.subtotal_payment }};</span>
        </td>
        <td>
          <a href="" (click)="onDelete(data._id)"
            ><img src="assets/images/deleted.svg" alt=""
          /></a>
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2">Total</td>
        <td colspan="2"><span>Rp. 12.000;</span></td>
      </tr>
    </tbody>
  </table>
</div>
